<h2><%= @word.word %></h2>

  <% if @keys.include?(@word.id) %>
    <h3><%= @word.definition.definition %></h3>
    <a href="/words/<%= @word.id %>/definitions/update">Update Definition</a>
  <% else %>
    <h4>Currently there is no definition for the word <%= @word.word %></h4>
    <a href="/words/<%= @word.id %>/definitions/new">Click here to add a definition</a>
  <%end%>

<br>
<a href="/">Return Home</a>
