<h2 class="heading"><%= @word.word %></h2>

  <% if @definitions.any? %>

  <% @definitions.each do |definition| %>
  <% if definition.word_id == @word.id %>
  <h3 class="definition"><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></h3>
  <% else %>
  <%end%>
  <%end%>
  <%end%>
<br>
<a href="/words/<%= @word.id %>/definitions/new" class="button">Add a Definition</a>
<br>
<a href="/words/<%= @word.id %>/update" class="button">Update Word</a>
<br>
<a href="/" class="button">Return Home</a>
